/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Gives the body element a parent height to compare against */
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    line-height: 1.6;
  }
  
  /* Matches the font of special elements to the rest of the page */
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  /* Removes default bullet points from lists */
  ol, ul {
    list-style: none;
  }

  /* END RESET */

  /* Variables */
  :root {
    --blue: rgb(33, 100, 163);
    --grey: rgb(61, 61, 61);
    --yellow: rgb(248, 248, 99);
    --center-color: rgb(248, 248, 248);
    --red: rgb(209, 43, 43);
    --green: rgb(29, 163, 29);
  }

  a,
  a:visited,
  a:active {
    text-decoration: none;
    /* color: inherit; */
  }

  body {
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  .timer {
    color: grey;
    font-size: 2rem;;
  }

  main {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.center {
    padding: 2rem;
    max-width: 600px;
    background-color: var(--center-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 1.6rem;
    color: var(--grey);
}
.center-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.center-list li {
    font-size: 1.5rem;
    padding: 10px;
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.center-list li:hover {
    background-color: var(--yellow);
    color: var(--blue);
}

.outcome {
    text-align: center;
    font-size: 1.4rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.button {
    border: 2px solid var(--blue);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    background-color: #fff;
    color: var(--blue);
    cursor: pointer;
}

.button:hover {
    background-color: var(--yellow);
}


.text-red {
    color: var(--red);
}

.text-green {
    color: var(--green);
}

.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 150;
  background: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  background-color: var(--yellow);
  padding: 2rem;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.modal input {
  border: 2px solid var(--blue);
  border-radius: 4px;
  padding: 1rem;
  color: var(--grey);
  font-size: 1.6rem;
  outline: none;
}

input.score {
  color: var(--green);
  font-weight: 900;
  max-width: 5rem;
  text-align: center;
}


.hidden {
  display: none;
}